<ion-view view-title="Home Page">
  <ion-content class="">
      
      <div class="w-content-principal">
          <div class="w-content">
              <h2>Going somewhere?<br/>Share travel cost with our community!</h2>
              <a href="#/map/driver"><button id="button-car" class="button button-home">
                  <img id="button-ride-img" class="button-image" src="/img/car.png"></img>
                  <span>Offer a ride</span>
              </button></a>
              <a href="#/map/passenger"><button id="button-ride" class="button button-home">
                  <img id="button-ride-img" class="button-image" src="/img/thumbs.png"></img>
                  <span>Find a ride</span>
              </button></a>
          </div> 
      </div>
      
  </ion-content>
</ion-view>
