<ion-view>
    <ion-content>
        
    	<div>
	    	<input style="width:100%" type="text" placeholder="Where to go?" g-places-autocomplete ng-model="destination.value" ng-change="MapCtrl.checkDestination()">
    	</div>
    	
      <div id="map" data-tap-disabled="true"></div>
        
<!--
      <div class="user-ride-class">
        <div class="row img-user"><img src="../img/user.png"></img></div>
        
        <div class="row img-feedback">
            <div class="col col-50"><img src="../img/thumbgreen.png"></img></div>
            <div class="col col-50"><img src="../img/thumbred.png"></img></div>
        </div>
          
        <span></span>

        <div class="row"> <span></span></div>
          
            <div class="row mod-button">
              <div class="col col-50"><button class="button button-map" ng-click="SignInController.login()">Cancel</button></div>
              <div class="col col-50"><button class="button button-map" ng-click="SignInController.login()">Send</button></div>
            </div>

      </div>
-->
    </ion-content>
</ion-view>
